<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/medicineInterface.css" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <form action="/manufacturesubmit" class="form" id="reg-form" method="post">
    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <!----------------------- Login Container -------------------------->

      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!-------------------- ------ Right Box ---------------------------->

        <div class="col-md-12 right-box">
          <div class="row align-items-center">
            <div class="header-text mb-4">
              <h2>Medicine Data</h2>
                <div class="mb-3">
                 
          <!-- <button class="btn btn-primary" type="submit" id="extract" name="extractbtn" value="get">Extract</button> -->
        
                </div> 
              
              <hr class="line" />
            </div>
            <label class="col" for="nextCheckTime">Packaging Id</label>

            <div class="input-group mb-3">
              <input
                id="packid"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value="<%=packagingid%>"
                placeholder= <%= packagingid %>
                readonly
              />
            </div>
            <div class="row align-items-start">
              <label class="col" for="medName">Medicine Name</label>
              <label class="col" for="mfgDate">Batch Number</label>
            </div>

            <div class="input-group mb-3">
              <input
                id="medName"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder="" 
            
              />
              <input
                id="batchNo"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder=""
        
              />
            </div>
            <div class="row align-items-start">
              <label class="col" for="mfgDate">Manufacture Date</label>
              <label class="col" for="expDate">Expiry Date</label>
            </div>

            <div class="input-group mb-3">
              <input
                id="mfgDate"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder=""
        
              />
              <input
                id="expDate"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder=""
            
              />
            </div>
            <div class="row align-items-start">
              <label class="col" for="mfgName">Manufacturer name</label>
              <label class="col" for="mfgId">Manufacturer id</label>
            </div>

            <div class="input-group mb-3">
              <input
                id="mfgName"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder=""
            
              />
              <input
                id="mfgId"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                value=""
                placeholder=""
              />
            </div>
            

            
            
            <div class="row align-items-start">
              <label class="col" for="lastCheckName"
                >Next checkpoint name</label
              >
              <label class="col" for="lastCheckId">Next checkpoint id</label>
            </div>

            <div class="input-group mb-3">
              <input
                id="nextCheckname"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                placeholder=""
                
              />
              <input
                id="nextCheckId"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                placeholder=""
              />
            </div>
            <!-- <label class="col" for="nextCheckTime">Time Stamp</label> -->

            <!-- <div class="input-group mb-3">
              <input
                id="nextCheckTime"
                type="text"
                class="form-control form-control-lg bg-light fs-6"
                placeholder=""
              />
            </div> -->
            <div class="row container">
              <button type="submit" class="col btn btn-primary">Submit</button>
              <button type="button" id="cancel_btn" class="col btn btn-primary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
    <script>
        // Get the submit button element
        const submitButton = document.getElementById('reg-form')
        const cancelButton = document.getElementById('cancel_btn')

// Attach event listener to the submit button
submitButton.addEventListener('submit', handleFormSubmit);
// Event handler for form submission
function handleFormSubmit(event) {
  event.preventDefault(); // Prevent the default form submission behavior

  // Get the values from the input fields
  const medName = document.getElementById('medName').value;
  const batchNo = document.getElementById('batchNo').value;
  const mfgDate = document.getElementById('mfgDate').value;
  const expDate = document.getElementById('expDate').value;
  const mfgName = document.getElementById('mfgName').value;
  const mfgId = document.getElementById('mfgId').value;
  const nextCheckName = document.getElementById('nextCheckname').value;
  const nextCheckId = document.getElementById('nextCheckId').value;
//   const nextCheckTime = document.getElementById('nextCheckTime').value;
  const formData = {
    medName,
    batchNo,
    mfgDate,
    expDate,
    mfgName,
    mfgId,
    nextCheckName,
    nextCheckId,
    // nextCheckTime
  };
  fetch('/manufacturesubmit', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the server
      console.log('Response:', data);
    })
    .catch(error => {
      // Handle any errors that occurred during the request
      console.error('Error:', error);
    });
}
    </script>
    
  </body>
</html>

<!-- <script>
      const form = document.getElementById('extract');
form.addEventListener('submit',extract );
 $.ajax({
    type: 'POST',
    url: '/extract',
    contentType: 'application/json',
    dataType: 'json',

    success: function(result) {
      if (result.status === 'ok') {
        console.log('Got the token: ', result.data);
        localStorage.setItem('token', result.data);
        alert('Success');
        window.location.href = result.redirect;
      } else {
        alert(result.error);
      }
    },
  });
    </script> -->